stages:
  - build
  - deployment

pages: # this step HAS to be named "pages" in order for gitlab to publish it as a gitlab.io/pages website
  stage: deployment
  image: python:latest
  rules:
    - if: $CI_COMMIT_BRANCH == "master"
  script:
    - python -m pip install sphinx
    # if you want to build auto-doc based on your docstrings, uncomment the following line
    # - sphinx-apidoc -o docs eyelid-builder
    - sphinx-build -b html ./docs/ public
  artifacts:
    paths:
      - public
      

echo_some_useful_env_vars:
  stage: build
  image: python:latest
  script:
    - echo $CI_API_V4_URL
    - echo $CI_PROJECT_I
    - echo $GITLAB_USER_LOGIN
    - echo $CI_COMMIT_BRANCH
    - echo $CI_COMMIT_TAG


deploy_package: # this can be an arbitrary name
  variables:
    TWINE_USERNAME: gitlab-ci-token
    TWINE_PASSWORD: $CI_JOB_TOKEN
  stage: deployment
  image: python:latest
  rules:
    - if: $CI_COMMIT_BRANCH == "master"
      when: on_success  # Run only if the condition is met
    - when: never  # Skip otherwise
  script:
    - python --version && pip --version
    - echo "Installing packages required to build..."
    - python -m pip install setuptools twine build
    - echo "Building ..."
    - python -m build
    
    # removed the rest for safety
